.App {
  text-align: center;
  width:fit-content;
  height: fit-content;
}

.App-header {
  background-image: url("file:///Users/danieldavidson/Downloads/fall.jpg");
  background-size: cover;
  padding: 1em;
  color: black;
  font-size: 2rem;
  height: 12rem;
}

.App-title {
  font-size: 3rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: row wrap;
  background-color: #F0FFFF;
  width: 100%;
  margin: 0px;
  padding-top: 4rem;
  text-align: center;
  line-height: 75px;
  font-size: 26px;
}

img {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
}
